.Header {
  text-align: center;
  padding: 25px 0;
}
.header-img {
  width: 25%;
}
@media all and (max-width: 768px) {
  .header-img {
    width: 40%;
  }
}
@media all and (max-width: 324px) {
  .header-img {
    width: 75%;
  }
}
